<!DOCTYPE html>
<html>
<head>
<title>Alert System</title>
<!-- <link rel="stylesheet" href="static/css/style.css"> -->
<link rel="stylesheet" href="../static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
</script>
</head>
<body>
<h1>MEDICAL ASSISTENCE ALERT SYSTEM</h1>

<form id="upload-form"  action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
    <div class="img-input">
        <input type="file" id="image-input" name="image-input" accept="image/*">
        <label for="image-input">Upload Image</label>
        <input type="submit" value="Predict" class="btn ">
    </div>
</form>


<script>
    var imageInput = document.getElementById("image-input");
    imageInput.addEventListener("change",function(event){
        if(event.target.files.length == 0){
            return;
        }
    });
    
</script>
</body>
</html>